---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/anime?q=Naruto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "429", "type": "RateLimitException", "message": "You are
        being rate-limited. Please follow Rate Limiting guidelines: https://docs.api.jikan.moe/#section/Information/Rate-Limiting",
        "error": null}'
  recorded_at: Fri, 09 Jan 2026 10:50:59 GMT
- request:
    method: get
    uri: https://api.jikan.moe/anime?q=Naruto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":404,"type":"HttpException","message":"Not Found","error":null}'
  recorded_at: Fri, 09 Jan 2026 10:51:01 GMT
recorded_with: VCR 6.4.0
